<div class="ml-container">
  <div class="ml-body">
    <div class="type-name">Admin</div>
    <div class="member-div">
      <img src="/images/users/anwar.jpg" class="member-img">
      <div class="member-name">Winchester Schott</div>
      <div class="member-designation">Machine Learning Lead</div>
    </div>
    <div class="member-div">
      <img src="/images/users/sadekur.jpg" class="member-img">
      <div class="member-name">Iris West</div>
      <div class="member-designation">News Reporter</div>
    </div>
    <div class="type-name">Members</div>
    <div class="member-div">
      <img src="/images/users/mahfuz.jpg" class="member-img">
      <div class="member-name">Winchester Schott</div>
      <div class="member-designation">Machine Learning Lead</div>
    </div>
    <div class="member-div">
      <img src="/images/users/dipok.jpg" class="member-img">
      <div class="member-name">Iris West</div>
      <div class="member-designation">News Reporter</div>
    </div>
    <div class="member-div">
      <img src="/images/users/jubayer.jpg" class="member-img">
      <div class="member-name">Winchester Schott</div>
      <div class="member-designation">Machine Learning Lead</div>
    </div>
    <div class="member-div">
      <img src="/images/users/manzu.jpg" class="member-img">
      <div class="member-name">Iris West</div>
      <div class="member-designation">News Reporter</div>
    </div>
    <div class="member-div">
      <div class="member-img in">WS</div>
      <div class="member-name">Winchester Schott</div>
      <div class="member-designation">Machine Learning Lead</div>
    </div>
    <div class="member-div">
      <img src="/images/users/mahfuz.jpg" class="member-img">
      <div class="member-name">Winchester Schott</div>
      <div class="member-designation">Machine Learning Lead</div>
    </div>
    <div class="member-div">
      <img src="/images/users/dipok.jpg" class="member-img">
      <div class="member-name">Iris West</div>
      <div class="member-designation">News Reporter</div>
    </div>
    <div class="member-div">
      <img src="/images/users/jubayer.jpg" class="member-img">
      <div class="member-name">Winchester Schott</div>
      <div class="member-designation">Machine Learning Lead</div>
    </div>
    <div class="member-div">
      <img src="/images/users/manzu.jpg" class="member-img">
      <div class="member-name">Iris West</div>
      <div class="member-designation">News Reporter</div>
    </div>
    <div class="member-div">
      <div class="member-img in">DC</div>
      <div class="member-name">Winchester Schott</div>
      <div class="member-designation">Machine Learning Lead</div>
    </div>
    <div class="member-div">
      <div class="member-img in">MR</div>
      <div class="member-name">Iris West</div>
      <div class="member-designation">News Reporter</div>
    </div>
  </div>
</div>