<!-- <div class="recent-chat-holder">
	<div class="col-lg-12">
		<span class="recent-icon-color icon-black-comment" >1</span><span class="recent-chats">RECENT CHATS</span> <i class="fas fa-chevron-down goDown"></i>
	</div>
</div>
 -->