<li onclick="setTagsCPM($(this).data('name'),$(this).data('id'));" class="tagulst" data-name="Public Relations" data-id="publicrelations">Public Relations</li>
<li onclick="setTagsCPM($(this).data('name'),$(this).data('id'));" class="tagulst" data-name="Sales & Marketing" data-id="salesnmarketing">Sales & Marketing</li>
<li onclick="setTagsCPM($(this).data('name'),$(this).data('id'));" class="tagulst" data-name="Consulting" data-id="consulting">Consulting</li>
<li onclick="setTagsCPM($(this).data('name'),$(this).data('id'));" class="tagulst" data-name="Finance" data-id="finance">Finance</li>
<li onclick="setTagsCPM($(this).data('name'),$(this).data('id'));" class="tagulst" data-name="Accounting" data-id="accounting">Accounting</li>
